<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title></title>
	<script src="angular.js"></script>
</head>
<body>
<div ng-controller="myctrl">
	<input type="text" ng-model="alertstring">
	<button ng-click="alert(alertstring)">click</button>
</div>
<script type="text/javascript">
	var myapp = angular.module('myapp', []);
	myapp.controller('myctrl', ['$scope', function($scope){
		$scope.alert = function(s){
			alert(s);	
			// console.log(window);
			// var el=document.querySelector('input');
			// console.log(el);
		}	
	}])
</script>
</body>
</html>